<H1><center>  Zumar Noor and Shafaq   </center></H1>

#### Import libraries ####

In [1]:
import numpy as np
import pandas as pd

#### Read Data ####

In [20]:
PATH = "D:\\MS\\S&M Methods for DS\\Project\\"
medical_data = pd.read_csv('D:\\MS\\S&M Methods for DS\\Project\\Medical_Data.csv')

#### Attributes of the data ####

In [16]:
medical_data.columns

Index(['S. No', 'Age (Years)', 'Gender', 'DIAGNOSIS', 'YEAR'], dtype='object')

#### Peek at the data ####

In [15]:
medical_data.head(5)

,S. No,Age (Years),Gender,DIAGNOSIS,YEAR
0,1,57,Female,Acute febrile mucocutaneous lymph node syndrom...,2014
1,2,23,Male,Crimean hemorrhagic fever (CHF Congo virus),2014
2,3,59,Male,Dengue,2014
3,4,22,Female,Dengue,2014
4,5,66,Male,Dengue,2014

#### Dimensions of the data ####

In [5]:
#medical_data = pd.DataFrame(medical_data)

In [19]:
medical_data.shape

(6907, 5)

#### Data types of Attributes ####

In [18]:
medical_data.dtypes

S. No           int64
Age (Years)     int64
Gender         object
DIAGNOSIS      object
YEAR            int64
dtype: object

#### Describe Data ####

In [8]:
medical_data.describe()

             S. No  Age (Years)         YEAR
count  6907.000000  6907.000000  6907.000000
mean   3454.000000    48.195743  2016.351527
std    1994.023487    16.082700     1.331766
min       1.000000    21.000000  2014.000000
25%    1727.500000    35.000000  2015.000000
50%    3454.000000    48.000000  2017.000000
75%    5180.500000    62.000000  2018.000000
max    6907.000000    76.000000  2018.000000

In [21]:
medical_data['DIAGNOSIS'].value_counts()

Pneumonia                                                 3072
Viral Fever                                                831
Typhoid fever                                              753
Dengue                                                     641
Malaria                                                    443
Febrile convulsions                                        324
Meningitis                                                 216
Fever of unknown 0rigin                                    186
Encephalitis                                               162
Viral hepatitis                                            111
Fever of unknown origin (PUO)                               32
Mosquito-borne hemorrhagic fever                            31
Tetanus                                                     29
Sinusitis                                                   24
Mosquito-borne fever/Chikungunya                            15
Maternal pyrexia                                            12
Rheumatic fever                                             12
Postprocedural fever                                         6
Acute febrile mucocutaneous lymph node syndrome [MCLS]       4
Crimean hemorrhagic fever (CHF Congo virus)                  3
Name: DIAGNOSIS, dtype: int64

### Data Pre-processing ###

#### Drop unwanted Attributes ####

In [22]:
medical_data.drop(['S. No'], axis=1, inplace=True)

#### Check null values ####

In [23]:
medical_data.isnull().sum()

Age (Years)    0
Gender         0
DIAGNOSIS      0
YEAR           0
dtype: int64

In [27]:
medical_data.loc[medical_data['DIAGNOSIS']=='Acute febrile mucocutaneous lymph node syndrome [MCLS]', 'DIAGNOSIS'] = 'MCLS'

In [29]:
medical_data.loc[medical_data['DIAGNOSIS']=='Crimean hemorrhagic fever (CHF Congo virus)', 'DIAGNOSIS'] = 'CHF Congo virus'

In [30]:
pwd

'C:\\Users\\Zumar Noor'